<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpf.video.mapper.DianyingMapper" >
  <resultMap id="BaseResultMap" type="com.wpf.video.pojo.Dianying" >
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wpf.video.pojo.Dianying" extends="BaseResultMap" >
    <result column="ids" property="ids" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="direct" property="direct" jdbcType="VARCHAR" />
    <result column="actor" property="actor" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id
  </sql>
  <sql id="Blob_Column_List" >
    ids, title, image, grade, time, area, direct, actor, content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.wpf.video.pojo.DianyingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dianying
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wpf.video.pojo.DianyingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dianying
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dianying
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dianying
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wpf.video.pojo.DianyingExample" >
    delete from dianying
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wpf.video.pojo.Dianying" >
    insert into dianying (id, ids, title, 
      image, grade, time, 
      area, direct, actor, 
      content)
    values (#{id,jdbcType=INTEGER}, #{ids,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR}, 
      #{image,jdbcType=LONGVARCHAR}, #{grade,jdbcType=LONGVARCHAR}, #{time,jdbcType=LONGVARCHAR}, 
      #{area,jdbcType=LONGVARCHAR}, #{direct,jdbcType=LONGVARCHAR}, #{actor,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wpf.video.pojo.Dianying" >
    insert into dianying
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ids != null" >
        ids,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="direct != null" >
        direct,
      </if>
      <if test="actor != null" >
        actor,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ids != null" >
        #{ids,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=LONGVARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=LONGVARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=LONGVARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=LONGVARCHAR},
      </if>
      <if test="direct != null" >
        #{direct,jdbcType=LONGVARCHAR},
      </if>
      <if test="actor != null" >
        #{actor,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wpf.video.pojo.DianyingExample" resultType="java.lang.Integer" >
    select count(*) from dianying
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dianying
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ids != null" >
        ids = #{record.ids,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.direct != null" >
        direct = #{record.direct,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.actor != null" >
        actor = #{record.actor,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update dianying
    set id = #{record.id,jdbcType=INTEGER},
      ids = #{record.ids,jdbcType=LONGVARCHAR},
      title = #{record.title,jdbcType=LONGVARCHAR},
      image = #{record.image,jdbcType=LONGVARCHAR},
      grade = #{record.grade,jdbcType=LONGVARCHAR},
      time = #{record.time,jdbcType=LONGVARCHAR},
      area = #{record.area,jdbcType=LONGVARCHAR},
      direct = #{record.direct,jdbcType=LONGVARCHAR},
      actor = #{record.actor,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dianying
    set id = #{record.id,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wpf.video.pojo.Dianying" >
    update dianying
    <set >
      <if test="ids != null" >
        ids = #{ids,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=LONGVARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=LONGVARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=LONGVARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=LONGVARCHAR},
      </if>
      <if test="direct != null" >
        direct = #{direct,jdbcType=LONGVARCHAR},
      </if>
      <if test="actor != null" >
        actor = #{actor,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wpf.video.pojo.Dianying" >
    update dianying
    set ids = #{ids,jdbcType=LONGVARCHAR},
      title = #{title,jdbcType=LONGVARCHAR},
      image = #{image,jdbcType=LONGVARCHAR},
      grade = #{grade,jdbcType=LONGVARCHAR},
      time = #{time,jdbcType=LONGVARCHAR},
      area = #{area,jdbcType=LONGVARCHAR},
      direct = #{direct,jdbcType=LONGVARCHAR},
      actor = #{actor,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>