<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="OrcasThemes">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <title></title>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="css/screen.css">
      <link rel="stylesheet" href="css/animation.css">
      <!--[if IE 7]>
      
      <![endif]-->
      <link rel="stylesheet" href="css/font-awesome.css">
      <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection">
      <![endif]-->

      <link rel="stylesheet" href="css/video.css">
   </head>
   <body>
      <!-- GALLERY VIDEO GRID BOXED -->
      <div id="single-video-right-sidebar" class="container-fluid standard-bg">
         <!-- HEADER -->
         <div slot="header"></div>
         <!-- MENU -->
         <div slot="menu"></div>
         <!-- GALLERY VIDEO GRID BOXED -->
         <div class="row">
            <div class="container">
               <div class="row">
                  <!-- VIDEO POSTS -->	
                  <div class="col-lg-12 col-md-12">
                     <!-- GALLERY VIDEO GRID SECTION -->
                     <section id="gallery-video-section">
                        <div class="row">
                           <!-- RELATED VIDEOS -->
                           <div class="col-lg-12 col-md-12 col-sm-12 category-video-grid video-info dropshd">
                              <h2 class="icon"><i class="fa fa-search" aria-hidden="true"></i>视频</h2>
                              <!-- VIDEO POSTS ROW -->
                              <div class="filter-box">
                                 <button class="btn btn-default filter-button active">全部</button>
                                 <button class="btn btn-default filter-button">大陆</button>
                                 <button class="btn btn-default filter-button">美国</button>
                                 <button class="btn btn-default filter-button">韩国</button>
                                 <button class="btn btn-default filter-button">日本</button>
                                 <button class="btn btn-default filter-button">香港</button>
                                 <button class="btn btn-default filter-button">印度</button>
                                 <button class="btn btn-default filter-button">其他</button>
                              </div>
                              <div class="row clear-auto v_videos" id="head">
                                 <article class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                       <div class="thumbr">
                                          <a class="afterglow post-thumb" href='' data-lity>
                                             <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                             <div class="cactus-note ct-time font-size-1"><span>2018</span></div>
                                             <img class="img-responsive" src="img/thumbs/thumb-s.jpg" alt="#">
                                          </a>
                                       </div>
                                       <div class="infor">
                                          <h4>
                                             <a class="title" href="#">西虹市首富</a>
                                          </h4>
                                          <!--<span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>-->
                                          <span>大陆</span>
                                          <div class="ratings">
                                             <!--<i class="fa fa-star" aria-hidden="true"></i>
                                             <i class="fa fa-star" aria-hidden="true"></i>
                                             <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                             <i class="fa fa-star-o"></i>
                                             <i class="fa fa-star-half"></i>-->
                                             评分：<span>8.0</span>
                                          </div>
                                       </div>
                                    </div>
                                 </article>
                              </div>
                              <!--<div class="clearfix spacer"></div>-->

                              <div class="filter-box">
                                 <button class="btn pull-right btn-default filter-button scroll" style="margin: 0 1px" onclick="nextDYF()" href="#head" id="toTop">下一页</button>
                                 <button class="btn pull-right btn-default filter-button" style="margin: 0 1px" onclick="upDYF()">上一页</button>
                                 <button class="btn pull-right btn-default filter-button" style="margin: 0 1px" onclick="jumpDYF()">跳转</button>
                                 <span class="pull-right v_pages" style="line-height:50px;font-size:18px">/20</span><input type="text" value="0" style="width: 50px;height: 50px" class="pull-right v_page">
                              </div>
                           </div>
                        </div>
                     </section>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- BOTTOM BANNER -->
      <div id="bottom-banner" class="container text-center">
         <!-- BOTTOM ADVERTISE BOX -->
         <a href="" class="banner-xl">
         <img src="img/banners/banner-xl.jpg" class="img-responsive" alt="Buy Now Muvee Reviews Bootstrap HTML5 Template" title="Buy Now Muvee Reviews Bootstrap HTML5 Template">
         </a>		
      </div>
      <!-- FOOTER -->
      <div id="footer" class="container-fluid footer-background">
         <div class="container">
            <footer>
               <div class="row copyright-bottom text-center">
                  <div class="col-md-12 text-center">
                     <a href="" class="footer-logo" title="Video Magazine Bootstrap HTML5 template">
                     <img src="img/footer-logo.png" class="img-responsive text-center" alt="Video Magazine Bootstrap HTML5 template">
                     </a>	
                     <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                     
                  </div>
               </div>
            </footer>
         </div>
      </div>
      <!-- JAVA SCRIPT -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="js/jquery-1.12.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/slot.js"></script>
      <script src="js/public-model.js"></script>
      <script src="js/gallery-video-boxed.js"></script>
      <!-- MODAL -->
   <script>
       $(function(){
              $("#toTop").click(function(){
                      $("html").animate({"scrollTop": "0px"},500); //IE,FF
                      $("body").animate({"scrollTop": "0px"},500); //Webkit
              });
       })
   </script>
   </body>
</html>
