<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="OrcasThemes">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <title></title>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="css/screen.css">
      <link rel="stylesheet" href="css/animation.css">
      <!--[if IE 7]>
      
      <![endif]-->
      <link rel="stylesheet" href="css/font-awesome.css">
      <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection">
      <![endif]-->
      <link href="css/lity.css" rel="stylesheet">
      <!--<link rel="stylesheet" href="css/video.css">-->
   </head>
   <body>
      <!-- SINGLE VIDEO -->
      <div id="single-video" class="container-fluid standard-bg">
         <!-- HEADER -->
         <div slot="header"></div>
         <!-- MENU -->
         <div slot="menu"></div>
         <!-- SINGLE VIDEO -->
         <div class="row">
            <!-- SIDEBAR -->
            <div slot="sidebar"></div>
            <!-- SINGLE VIDEO -->	
            <div id="single-video-wrapper" class="col-lg-10 col-md-8">
               <div class="row">
                  <!-- VIDEO SINGLE POST -->
                  <div class="col-lg-8 col-md-12 col-sm-12">
                     <!-- POST L size -->
                     <article class="post-video">
                        <!-- VIDEO INFO -->
                        <div class="video-info">
                           <!-- 16:9 aspect ratio -->
                          <div class="embed-responsive embed-responsive-16by9 video-embed-box" id="video">
                             <!--视频位置-->
                           </div>
                           <h2 class="title main-head-title">标题</h2>
                           <div class="metabox">
                              <!--<span class="meta-i">
                              <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895
                              </span>
                              <span class="meta-i">
                              <i class="fa fa-thumbs-down" aria-hidden="true"></i>3.981
                              </span>-->
                              <span class="meta-i">
                              <i class="fa fa-user"></i><span class="v_direct">导演</span>
                              </span>
                              <span class="meta-i">
                              <i class="fa fa-clock-o"></i><span class="v_time">时间</span>
                              </span>
                              <span class="meta-i">
                              <i class="fa fa-eye"></i><span class="v_area">地区</span>
                              </span>
                              <div class="ratings">
                                 <span class="v_grade">评分</span>
                              </div>
                           </div>
                           <ul class="footer-tags">
                              <span class="meta-i">
                              <i class="fa fa-user"></i><span class="v_actor">演员</span></span>
                              </span>
                           </ul>
                        </div>
                        <div class="clearfix spacer"></div>

                        <!-- DETAILS -->
                        <div class="video-content">
                           <h2 class="title main-head-title">简介</h2>
                           <p class="v_content">。。。。。</p>
                        </div>
                        <div class="clearfix spacer"></div>

                        <div>
                           <ul class="footer-tags v_num">
                              <li><a href="">集数</a></li>
                           </ul>
                        </div>
                     </article>
                  
					<!-- COMMENTS -->
					<section id="comments">
						<h2 class="title">评论</h2>
						<div class="widget-area">
							<div class="status-upload">
								<form>
									<textarea placeholder="你的评论在这里" ></textarea>
									<div class="comment-box-control">
                                       <!--评论选项-->
										<!--<ul>
											<li><a title="" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
											<li><a title="" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
											<li><a title="" data-placement="bottom" data-original-title="Smile"><i class="fa fa-smile-o"></i></a></li>
										</ul>-->
										<button type="submit" class="btn pull-right"><i class="fa fa-share"></i>发表评论</button>
									</div>
								</form>
							</div><!-- Status Upload  -->
						</div><!-- Widget Area -->
						
						
						<div class="row comment-posts">
                           <!--头像-->
							<!--<div class="col-sm-1">
								<div class="thumbnail">
									<img class="img-responsive user-photo" src="img/thumbs/thumb-review.jpg" alt="Comment User Avatar">
								</div>
							</div>-->
                           <!--评论-->
							<!--<div class="col-sm-11">
								<div class="panel panel-default">
									<div class="panel-heading">
										<strong>名称</strong> <span class="pull-right">时间</span>
									</div>
									<div class="panel-body">
									   评论内容
                                    </div>
								</div>
							</div>-->

						</div>

					</section>
				  
				  </div>
				  
                  <!-- VIDEO SIDE BANNERS -->
                  <div class="col-lg-4 hidden-md hidden-sm">
                     <!-- MAIN ROLL ADVERTISE BOX -->
                     <!--广告位置图-->
                     <a href="" class="video-right-banner">
                     <img src="img/banners/banner-400x400.jpg" class="img-responsive" alt="Buy Now Muvee Reviews Bootstrap HTML5 Template" title="Buy Now Muvee Reviews Bootstrap HTML5 Template">
                     </a>
                     <a href="" class="video-right-banner">
                     <img src="img/banners/banner-400x400.jpg" class="img-responsive" alt="Buy Now Muvee Reviews Bootstrap HTML5 Template" title="Buy Now Muvee Reviews Bootstrap HTML5 Template">
                     </a>
                  </div>

               </div>
               <div class="clearfix spacer"></div>

            </div>
         </div>
      </div>
      <!-- CHANNELS -->
      <div id="channels-block" class="container-fluid channels-bg">
         <div class="container-fluid ">
            <div class="col-md-12">
               <!-- CHANNELS -->
               <section id="channels">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <h2 class="icon"><i class="fa fa-television" aria-hidden="true"></i>有关影片</h2>

                     <!-- Wrapper for slides -->
                     <div class="carousel-inner" role="listbox">

                        <div class="item active">
                           <div class="row auto-clear">

                              <article class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                 <!-- POST L size -->
                                 <div class="post post-medium">
                                    <div class="thumbr">
                                       <a class="afterglow post-thumb" href='' data-lity>
                                          <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                          <div class="cactus-note ct-time font-size-1"><span>2018</span></div>
                                          <img class="img-responsive" src="img/thumbs/thumb-s.jpg" alt="#">
                                       </a>
                                    </div>
                                    <div class="infor">
                                       <h4>
                                          <a class="title" href="#">西虹市首富</a>
                                       </h4>
                                       <!--<span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>-->
                                       <span>大陆</span>
                                       <div class="ratings">
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                          <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o"></i>
                                          <i class="fa fa-star-half"></i>-->
                                          评分：<span>8.0</span>
                                       </div>
                                    </div>
                                 </div>
                              </article>

                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <div class="clearfix"></div>
            </div>
         </div>
      </div>
      <!-- BOTTOM BANNER -->
      <!--脚广告-->
      <div id="bottom-banner" class="container text-center">
         <!-- BOTTOM ADVERTISE BOX -->
         <a href="" class="banner-xl">
         <img src="img/banners/banner-xl.jpg" class="img-responsive" alt="Buy Now Muvee Reviews Bootstrap HTML5 Template" title="Buy Now Muvee Reviews Bootstrap HTML5 Template">
         </a>
      </div>
      <!-- FOOTER -->
      <div id="footer" class="container-fluid footer-background">
         <div class="container">
            <footer>

               <!--logo-->
               <div class="row copyright-bottom text-center">
                  <div class="col-md-12 text-center">
                     <a href="" class="footer-logo" title="Video Magazine Bootstrap HTML5 template">
                     <img src="img/footer-logo.png" class="img-responsive text-center" alt="Video Magazine Bootstrap HTML5 template">
                     </a>	
                     <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="">我的博客</a></p>
                     
                  </div>
               </div>

            </footer>
         </div>
      </div>
      <!-- JAVA SCRIPT -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="js/jquery-1.12.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/href.js"></script>
      <script src="js/slot.js"></script>
      <script src="ckplayer/ckplayer.min.js"></script>
      <script src="js/single-video.js"></script>
   </body>
</html>
