<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script type="text/javascript" src="ckplayer/ckplayer.min.js"></script>
<div class="video" style="width: 500px;height: 400px"></div>
<script type="text/javascript">
    var videoObject = {
        container: '.video',//“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
        //debug:true,//开启调试模式
        //flashplayer: false, //是否需要强制使用flashplayer
        //autoplay:true,//自动播放
        video:'https://doubanzyv1.tyswmp.com/2018/10/11/XXOlABLuspSJnYJo/playlist.m3u8'//视频地址
    };
    var player=new ckplayer(videoObject);
</script>
</body>
</html>